*,
*::before *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: 700;
}

p {
  font-size: clamp(1rem, 0.792rem + 0.89vw, 1.125rem);
  line-height: 1.5;
  color: hsl(0, 0%, 85%);
}

.header__xl {
  font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem);
  letter-spacing: -0.028em;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.56;
  font-family: "Space Grotesk", sans-serif;
  background: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
}

body, input, textarea, button {
  font-family: "Space Grotesk", sans-serif;
}

.wrapper {
  width: calc(100% - 32px);
  max-width: 1110px;
  margin-inline: auto;
}
@media (min-width: 600px) {
  .wrapper {
    width: calc(100% - 60px);
  }
}

a {
  transition: color 0.3s ease-in;
  color: hsl(0, 0%, 100%);
}

a:focus-visible {
  outline-offset: 6px;
  outline: 6px ridge hsl(153, 71%, 59%);
  border-radius: 2rem;
}

input:focus-visible,
textarea:focus-visible {
  outline: 2px dashed hsl(153, 71%, 59%);
  outline-offset: 2px;
}

input:invalid,
textarea:invalid {
  outline-color: hsl(7, 100%, 68%);
}

a:hover {
  color: hsl(153, 71%, 59%);
}

svg path {
  transition: fill 0.3s ease-in;
}

a:hover > svg > path {
  fill: hsl(153, 71%, 59%);
}

a.underline,
button {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 2.29px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  background-image: linear-gradient(to right, hsl(153, 71%, 59%) 75%, hsl(153, 71%, 59%) 75%);
  background-position: 0 2em;
  background-repeat: repeat-x;
  background-size: 8px 4px;
  display: inline-block;
  padding-bottom: 10px;
  transition: color 0.3s ease-in;
}
a.underline:hover,
button:hover {
  color: hsl(153, 71%, 59%);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1 > span {
  background-image: linear-gradient(to right, hsl(153, 71%, 59%) 75%, hsl(153, 71%, 59%) 75%);
  background-position: 0 1.18em;
  background-repeat: repeat-x;
  background-size: 8px 4px;
}

.border-bottom {
  border-bottom: 1px solid hsl(0, 0%, 85%);
}

img,
svg {
  display: block;
}

.header {
  margin-top: 20px;
  z-index: 1;
  position: relative;
}
@media (min-width: 600px) {
  .header {
    margin-top: 30px;
    margin-bottom: 90px;
  }
}
@media (min-width: 1000px) {
  .header {
    margin-bottom: 127px;
    margin-top: 40px;
  }
}
.header__home {
  font-size: clamp(1.5rem, 1.023rem + 2.04vw, 2rem);
  flex: 1 0 100%;
  line-height: 1;
}
@media (min-width: 600px) {
  .header__home {
    flex: 0 1 auto;
    -webkit-margin-end: auto;
            margin-inline-end: auto;
  }
}
.header__social, .header__social svg {
  display: block;
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px 25px;
}
@media (min-width: 600px) {
  .header__nav {
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    gap: 32px;
  }
}
@media (min-width: 1000px) {
  .header__nav {
    padding-right: 30px;
  }
}

.hero__wrapper {
  padding-bottom: 80px;
}
@media (min-width: 600px) {
  .hero__wrapper {
    padding-bottom: 60px;
  }
}
@media (min-width: 1000px) {
  .hero__wrapper {
    position: relative;
    padding-bottom: 220px;
  }
}
.hero__image {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
  display: block;
  width: 174px;
  height: auto;
}
@media (min-width: 600px) {
  .hero__image {
    width: 42vw;
    max-width: 445px;
    height: auto;
    left: auto;
    right: 0;
    translate: 0;
    top: -25px;
  }
}
@media (min-width: 1000px) {
  .hero__image {
    translate: 0 -199px;
    height: auto;
  }
}
.hero__text {
  position: relative;
  margin-top: 335px;
  text-align: center;
  z-index: 1;
}
@media (min-width: 600px) {
  .hero__text {
    text-align: left;
    margin-top: 0;
    width: 61vw;
  }
}
.hero__headline {
  margin-bottom: 25px;
}
@media (min-width: 600px) {
  .hero__headline {
    margin-bottom: 60px;
  }
}
@media (min-width: 1000px) {
  .hero__headline {
    margin-bottom: 43px;
    width: 751px;
  }
}
.hero__headline > br {
  display: none;
}
@media (min-width: 600px) {
  .hero__headline > br {
    display: inline-block;
  }
}
@media (min-width: 1000px) {
  .hero__headline > br {
    display: none;
  }
}
.hero__description {
  margin-bottom: 25px;
}
@media (min-width: 600px) {
  .hero__description {
    margin-bottom: 35px;
    max-width: 445px;
  }
}
@media (min-width: 1000px) {
  .hero__description {
    margin-bottom: 66px;
    width: 38ch;
  }
}
.hero__contact {
  transition: color 0.3s ease-in;
}
.hero__contact:hover {
  color: hsl(153, 71%, 59%);
}
.hero__rings {
  position: absolute;
  right: 50%;
  top: 130px;
  width: 33.125rem;
  height: auto;
}
@media (min-width: 600px) {
  .hero__rings {
    top: 78px;
  }
}
@media (min-width: 1000px) {
  .hero__rings {
    translate: -47%;
    top: -68px;
  }
}
.hero__circle {
  position: relative;
  translate: calc(100vw - 80px);
  top: 170px;
  margin-bottom: -129px;
}
@media (min-width: 600px) {
  .hero__circle {
    top: 295px;
    z-index: 1;
    position: relative;
    right: 0;
    translate: calc(100vw - 90px);
  }
}
@media (min-width: 1000px) {
  .hero__circle {
    translate: calc(53vw - 290px);
    top: 300px;
    left: 0px;
  }
}

.skills {
  position: relative;
}
.skills__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding-block: 40px;
  gap: 24px;
}
@media (min-width: 600px) {
  .skills__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 52px 24px;
    border: none;
    padding-block: 52px 0px;
  }
}
@media (min-width: 1000px) {
  .skills__wrapper {
    -webkit-padding-before: 72px;
            padding-block-start: 72px;
    gap: 58px 30px;
    grid-template-columns: repeat(3, 1fr);
  }
}
.skills__item {
  text-align: center;
}
@media (min-width: 600px) {
  .skills__item {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}
.skills__title {
  font-size: clamp(2rem, 0.333rem + 7.11vw, 3rem);
  line-height: 1.17;
  margin-bottom: 2px;
}
.skills__description {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.skills__rings {
  position: absolute;
  left: 50%;
  bottom: 0;
  translate: 0 50%;
}
@media (min-width: 600px) {
  .skills__rings {
    translate: 40% 30%;
  }
}
@media (min-width: 1000px) {
  .skills__rings {
    translate: -40% 30%;
    left: 100%;
  }
}

.projects__wrapper {
  padding-block: 140px;
}
.projects__headline {
  grid-column: 1/span 2;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
@media (min-width: 600px) {
  .projects .projects__headline, .projects .projects__contact {
    grid-column: span 1;
  }
}
.projects__contact {
  grid-column: 1/span 2;
}
@media (min-width: 700px) {
  .projects__contact {
    justify-self: end;
  }
}
.projects__grid {
  display: grid;
  gap: 40px;
  align-items: center;
  text-align: center;
  justify-items: center;
}
@media (min-width: 600px) {
  .projects__grid {
    gap: 60px 25px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .projects__grid {
    gap: 70px 30px;
    text-align: left;
  }
}
@media (max-width: 700px) {
  .projects__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.projects__item {
  grid-column: 1/span 2;
}
@media (min-width: 600px) {
  .projects__item {
    grid-column: span 1;
    justify-content: center;
  }
}
@media (min-width: 1000px) {
  .projects__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    transition: opacity 0.15s ease-in-out;
  }
  .projects__item:hover .projects__picture::after {
    opacity: 0.5;
    cursor: pointer;
  }
  .projects__item:hover .projects__links {
    opacity: 1;
  }
  .projects__item:focus-within .projects__links {
    opacity: 1;
  }
  .projects__item:focus-within .projects__picture::after {
    opacity: 0.5;
  }
}
.projects__picture {
  display: block;
}
@media (min-width: 1000px) {
  .projects__picture {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media (min-width: 1000px) {
  .projects__picture::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: hsl(0, 0%, 0%);
    height: 100%;
    opacity: 0;
    top: 0;
    transition: opacity 0.15s ease-in-out;
  }
}
.projects__name {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-margin-after: 7px;
          margin-block-end: 7px;
  margin-top: 20px;
}
.projects__image {
  height: auto;
  width: 100%;
}
.projects__tags {
  display: flex;
  justify-content: center;
  gap: 12px;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
}
@media (min-width: 600px) {
  .projects__tags {
    display: block;
  }
}
@media (min-width: 1000px) {
  .projects__tags {
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
}
@media (min-width: 600px) {
  .projects__tags span {
    -webkit-margin-end: 18px;
            margin-inline-end: 18px;
  }
}
.projects__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (min-width: 600px) {
  .projects__links {
    row-gap: 25px;
  }
}
@media (min-width: 1000px) {
  .projects__links {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}
.contact {
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  background-color: hsl(0, 0%, 14%);
  position: relative;
}
.contact__wrapper {
  padding-block: 85px;
}
@media (max-width: 999.98px) {
  .contact__wrapper {
    max-width: 27.8rem;
  }
}
@media (min-width: 1000px) {
  .contact__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 27.8rem);
    justify-content: space-between;
  }
}
.contact__text {
  text-align: center;
}
@media (min-width: 1000px) {
  .contact__text {
    text-align: left;
  }
}
.contact__header {
  font-size: clamp(4.5rem, 3.546rem + 4.07vw, 5.5rem);
  line-height: 1;
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
}
@media (min-width: 1000px) {
  .contact__header {
    -webkit-margin-after: 2.25rem;
            margin-block-end: 2.25rem;
  }
}
.contact__control input, .contact__control textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 100%);
  background: transparent;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  line-height: 1.625;
  padding-block: 1rem;
  padding-inline: 1.5rem;
}
.contact__control > *::-moz-placeholder {
  color: hsl(0, 0%, 100%);
  opacity: 0.5;
  text-transform: uppercase;
}
.contact__control > *::placeholder {
  color: hsl(0, 0%, 100%);
  opacity: 0.5;
  text-transform: uppercase;
}
.contact__control textarea {
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
.contact__control button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.contact__invalid {
  display: none;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 35%;
  right: 0;
  translate: -50% -50%;
}
@media (min-width: 600px) {
  .contact__invalid {
    top: 48%;
    right: 13%;
    translate: -100% -90%;
  }
}
@media (min-width: 1000px) {
  .contact__invalid {
    top: 25%;
    right: 13%;
    translate: -100% -75%;
  }
}
.contact__invalid-email {
  display: none;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 44%;
  right: 0;
  translate: -50% -60%;
}
@media (min-width: 600px) {
  .contact__invalid-email {
    top: 55%;
    right: 13%;
    translate: -100% -40%;
  }
}
@media (min-width: 1000px) {
  .contact__invalid-email {
    top: 35%;
    right: 13%;
    translate: -100% -25%;
  }
}
.contact__invalid-textarea {
  display: none;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  right: 0;
  translate: -50% -5%;
}
@media (min-width: 600px) {
  .contact__invalid-textarea {
    top: 65%;
    right: 13%;
    translate: -100% -80%;
  }
}
@media (min-width: 1000px) {
  .contact__invalid-textarea {
    top: 50%;
    right: 13%;
    translate: -100% -80%;
  }
}
.contact__rings {
  position: absolute;
  left: 0;
  bottom: 97px;
  translate: -75%;
}
@media (min-width: 600px) {
  .contact__rings {
    bottom: 47px;
    translate: -70%;
  }
}
@media (min-width: 1000px) {
  .contact__rings {
    translate: -40%;
  }
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.contact input:focus-visible:invalid ~ .contact__invalid {
  display: inline-block;
}

.contact input:focus-visible:invalid ~ .contact__invalid-email {
  display: inline-block;
}

.contact textarea:focus-visible:invalid ~ .contact__invalid-textarea {
  display: inline-block;
}

.footer {
  margin-top: -17px;
  background-color: hsl(0, 0%, 14%);
  padding-block: 40px 60px;
}
@media (min-width: 600px) {
  .footer {
    padding-block: 30px 40px;
  }
}
@media (min-width: 1000px) {
  .footer {
    padding-block: 50px 90px;
  }
}