.footer{
	margin-top: -17px;
	background-color: $contact-bg;
	padding-block: 40px 60px;
	@media(min-width:600px){
		padding-block: 30px 40px;
	}
	@media(min-width:1000px){
		padding-block: 50px 90px;
	}
}