//colors
$body-bg:hsl(0, 0%, 8%);
$contact-bg:hsl(0, 0%, 14%);
$text2:hsl(0, 0%, 85%);
$hover:hsl(153, 71%, 59%);
$invalid:hsl(7, 100%, 68%);
$text1:hsl(0, 0%, 100%);

//text
$fz-88: 5.5rem;
$fz-72:4.5rem;
$fz-48:3rem;
$fz-40:2.5rem;
$fz-32:2rem;
$fz-24: 1.5rem;
$fz-18: 1.125rem;

//transitions
$transition: 0.3s ease-in;